h1 {
  color: rgb(52, 105, 158);
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#root {
  font-family: 'Rubik', sans-serif;
}

html {
  /* box-sizing: border-box; */
  font-family: 'Rubik', sans-serif;
  color: rgb(55, 55, 55);
  background: linear-gradient(to bottom right, #66ffcc 0%, #0066ff 100%);
  // background-size:contain
  height: 220%;
}

#checkboxes {
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: 'Rubik', sans-serif;
  height: 70%;
}

input {
  // this is for the input fields
  font-family: 'Rubik', sans-serif;
}

#input {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border: 2px solid rgba(20, 18, 60, 0.158);
  border-radius: 5px;
}

textarea {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/885a6dec-35b8-456f-a409-43b214729c22/degver8-021dd3c0-07aa-4bea-893b-caa08307715d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg4NWE2ZGVjLTM1YjgtNDU2Zi1hNDA5LTQzYjIxNDcyOWMyMlwvZGVndmVyOC0wMjFkZDNjMC0wN2FhLTRiZWEtODkzYi1jYWEwODMwNzcxNWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.flh8PiGuQEY3h3PVnU3KvFVhy9BVE26hWfaAN-czKmw');
  // opacity: 0.18;
  font-size: large;
  font-weight: bold;
  background-size: contain;
  border: 2px solid rgb(20, 18, 60);
}

#searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 18px 0px;

}

#searchbar button {
  margin-left: 5px;
}

button {
  background-color: #0f2d5e;
  color: #ffffff;
  border-radius: 5px;
}

#input button {
  padding: 5px 10px;
}

#savebutton {
  width: 20%;
  position: relative;
  left: 71.5%;
}

#searchInput {
  width: 30%;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
  gap: 10px;
}

.individualCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid rgb(19, 9, 9);
  box-shadow: 0 5px 10px;
  min-width: 200px;
  max-width: 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/885a6dec-35b8-456f-a409-43b214729c22/degver8-021dd3c0-07aa-4bea-893b-caa08307715d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg4NWE2ZGVjLTM1YjgtNDU2Zi1hNDA5LTQzYjIxNDcyOWMyMlwvZGVndmVyOC0wMjFkZDNjMC0wN2FhLTRiZWEtODkzYi1jYWEwODMwNzcxNWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.flh8PiGuQEY3h3PVnU3KvFVhy9BVE26hWfaAN-czKmw');
  border-radius: 8px;
}

.individualCard h3 {
  font-weight: bold;
  // margin-top: -5px;
}

#cardsDisplayTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

h3,
h4 {
  margin: 1px;
}

h3 {
  color: rgb(39, 88, 194);
}
// #cardsDisplay {
//   padding: 5px;
// }
